button {
  width: 144px;
  height: 45px;
  font-weight: 500;
  font-size: 16px;
  background-color: var(--black);
  color: var(--white);
  border-radius: 27px;
  font-family: "Prompt", sans-serif;
}
button.sm {
  width: 139px;
  height: 41px;
  border-radius: 27px;
}
button.lng {
  font-size: 20px;
  width: 158px;
  height: 52px;
  border-radius: 32px;
}

.link {
  color: var(--black);
  font-size: 20px;
  text-decoration: none;
  transition: var(--transition);
}

.link:hover {
  color: var(--dogger-blue);
}
.menu{
  display: none;
}
