@media screen and (width<576px) {
  .info-text-container {
    width: auto;
    height: auto;
  }
  .about h2 img {
    width: auto;
  }
  .about-button {
    width: 100%;
  }
  .about h2 {
    width: auto;
  }
  .info-container img {
    max-width: -webkit-fill-available;
    /* bune */
  }
}
@media screen and (width<=768px) {
  .about img {
    width: 100%;
  }
  .services {
    flex-direction: column;
  }
  .hero-img-container > img {
    display: none;
  }
  .section-center {
    flex-direction: column;
  }
}
@media screen and (width<=992px) {
  .faq-question-container {
    width: 100%;
    padding: 0px;
  }
  .faq-questions :nth-child(5),
  :nth-child(6) {
    margin-bottom: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
  }
  .info-container {
    flex-direction: column;
  }
  .info :nth-child(2) {
    flex-direction: column-reverse;
  }
  .nav ul {
    display: none;
  }
  .menu {
    display: flex;
  }
  .div-menu {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
  }
}
@media screen and (width<=1200px) {
  .footer {
    flex-wrap: wrap;
    gap: 24px;
  }
  .footer > div {
    min-width: 180px;
  }
  .pricing-plans {
    flex-direction: column;
  }
  .about {
    flex-direction: column;
  }
  .service {
    flex-direction: column;
  }
  .hero {
    flex-direction: column;
  }
  .hero-info-container input {
    width: min-content;
    /* bune */
  }
  .hero-img-container > img {
    width: 75%;
  }
}
